.navDesktop {
    display: none;
  }
  
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .logo {
    width: 124px;
    height: 20px;
  }
  
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (min-width: 1440px) {
    .navTabMob {
      display: none;
    }
  
    .navDesktop {
      display: flex;
    }
  }