.navDesktop {
  display: none;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  width: 124px;
  height: 20px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

@media (min-width: 1440px) {
  .navTabMob {
    display: none;
  }

  .navDesktop {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .navDesktop nav {
    margin: 0 auto;
  }
}
