.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.navigationItem {
  display: flex;
  align-items: center;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #191a15;
  white-space: nowrap;
  transition: 0.3s ease;
}

.navigationLink {
  position: relative;
  text-decoration: none;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 8px;
    height: 8px;
    background: #54be96;
    border-radius: 50%;
  }


@media (min-width: 768px) {
  .navigationLinkBtn {
    width: 178px;
  }
}

@media (min-width: 1440px) {
  .nav {
    flex-direction: row;
    /* gap: 345px; */
  }

  .navList {
    gap: 40px;
    flex-direction: row;
  }

  .navigationItem {
    height: 20px;
  }
}
