.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.navigationItem {
  display: flex;
  align-items: center;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #191a15;
  white-space: nowrap;
  transition: 0.3s ease;
}

.navigationLink {
  position: relative;
  text-decoration: none;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 8px;
    height: 8px;
    background: #54be96;
    border-radius: 50%;
  }

.navigationLinkBtn {
  padding: 8px 18px;
  width: 335px;
  height: 40px;
  margin-top: 8px;
}

.userContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.userBox {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 256px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  white-space: nowrap;
}

.divider {
  width: 1px;
  height: 39px;
  background: var(--color-scheme-1-text);
}

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--color-electric-violet);
  color: var(--color-white);
  border: 2px solid var(--color-electric-violet);
}

.logoutBtn {
  width: 24px;
  height: 24px;
}

.logoutBtn:hover,
.logoutBtn:focus,
.logoutBtn:active {
  fill: var(--color-electric-violet);
}

@media (min-width: 768px) {
  .navigationLinkBtn {
    width: 178px;
  }
}

@media (min-width: 1440px) {
  .nav {
    flex-direction: row;
    gap: 40px;
  }

  .navList {
    gap: 40px;
    flex-direction: row;
  }

  .navigationItem {
    height: 20px;
  }

  .navigationLinkBtn {
    margin-top: 0px;
  }
}
