.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  border-radius: 24px;
  width: 1184px;
  min-height: 300px;
  background-color: #fbfbfb;
  padding: 24px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}
.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  padding: 12px;
}
.avatar {
  border-radius: 15px;
  width: 96px;
  height: 96px;
}
.leftSide {
  position: relative;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  margin-bottom: 8px;
}
.ratingContainer {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.rightTop {
  display: flex;
  align-items: center;
  gap: 28px;
}

.textRating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #191a15;
}
.textPrice {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #191a15;
}

.heart {
  display: flex;
  align-items: center;
  stroke-width: 2px;
  stroke: #191a15;
  cursor: pointer;
}

.divider {
  color: rgba(25, 26, 21, 0.2);
}

.textSpan {
  color: #38cd3e;
}

.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #191a15;
  margin-bottom: 24px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 8px;
  margin-bottom: 24px;
}

.listItem {
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #f3f3f3;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  width: auto;
}

.textAbout {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 14px;
}

.readMoreBtn {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  color: #191a15;
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

/* .extra {
  margin-top: 16px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.reviews {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.reviewHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatarSmall {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: rgba(84, 190, 150, 0.2);
  color: #54be96;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.reviewName {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #191a15;
  margin-bottom: 4px;
}

.reviewRating {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #191a15;
}

.reviewText {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(25, 26, 21, 0.5);
}

.bookBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 14px 32px;
  width: 227px;
  height: 48px;
  background-color: #54be96;
}

.bookBtn:hover {
  background-color: #36a379;
  transition: background-color 0.3s ease;
}
