
.hero{
    padding-top: 78px;
    padding-bottom: 100px;
}
.heroContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 125px;
}
.left {
  max-width: 595px;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 80px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 20px;
}
.span {
  font-style: italic;
  color: #54be96;
}
.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 40px;
}
.heroBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 30px;
  padding: 18px 50px;
  width: 235px;
  height: 60px;
  background-color: #54be96;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.heroBtn:hover {
  background-color: #36a379;
  transition: background-color 0.3s ease;
}
.right {
  position: relative;
}
.heroImg {
  border-radius: 10px;
}

.yellowIcon {
  position: absolute;
  top: 40px;
  right: -30px;

  width: 59px;
  height: 59px;
  background-color: #f4c550;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(15deg);
}

.purpeleIcon{
  position: absolute;
  left: -38px;     
  top: 35%;

  width: 50px;
  height: 50px;
  background-color: #4535af;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(-15deg);
}
.card {
  position: absolute;
  bottom: 75px;
  left: -100px;
  border-radius: 20px;
  width: 311px;
  height: 118px;
  background-color: #54be96;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.check {
  display: flex;
  align-items: center;
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: #fbfbfb;
  padding: 17px 19px;
}


.wraper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cardTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);
}
.count {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #fbfbfb;
}
