.overlay {
  position: fixed; /* 🔥 головне */
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* щоб було поверх */
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-bottom: 20px;
  stroke-width: 2.5px;
  cursor: pointer;
  stroke: #191a15;
  background-color: transparent;
}

.modal {
  border-radius: 30px;
  width: 100%;
  max-width: 600px;
  padding: 64px;
  background: #fbfbfb;
  position: relative;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #191a15;
  margin-bottom: 20px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
}
.psychologist {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 40px;
}
.avatar {
  border-radius: 15px;
  width: 44px;
  height: 44px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #8a8a89;
}
.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #191a15;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  width: 100%;
  padding: 16px 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #191a15;
  padding: 16px 18px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.textarea {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  width: 100%;
  padding: 16px 18px;
  height: 116px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #191a15;
  margin-bottom: 40px;
  resize: none;
}
.submit {
  border-radius: 30px;
  padding: 16px 217px;
  width: 100%;
  background-color: #54be96;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
